<section class="container my-5">
  <form
    [formGroup]="demoForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    class="border border-dark"
  >
    <span>paitent Demographics</span>
    <div class="form-group row">
      <mat-form-field>
        <mat-label for="first-name" class="col-sm-2 col-form-label"
          >First Name
        </mat-label>
        <input
          id="first-name"
          matInput
          type="text"
          formControlName="firstname"
        />
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="last-name" class="col-sm-2 col-form-label"
          >Last Name
        </mat-label>
        <input id="last-name" type="text" matInput formControlName="lastname" />
      </mat-form-field>
    </div>
    <!--<mat-form-field appearance="fill">
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>-->

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">female</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="Ethnicity" class="col-sm-2 col-form-label"
          >Ethnicity/Race
        </mat-label>
        <div class="col-sm-10">
          <input
            id="Ethnicity"
            type="text"
            matInput
            formControlName="ethnicity"
          />
        </div>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="Education" class="col-sm-2 col-form-label"
          >Education</mat-label
        >
        <div class="col-sm-10">
          <input
            id="Education"
            type="text"
            matInput
            formControlName="education"
          />
        </div>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="occupation" class="col-sm-2 col-form-label"
          >Occupation/Employment
        </mat-label>
        <div class="col-sm-10">
          <input
            id="occupation"
            type="text"
            matInput
            formControlName="occupation"
          />
        </div>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="address" class="col-sm-2 col-form-label"
          >Address</mat-label
        >
        <div class="col-sm-10">
          <input id="address" type="text" matInput formControlName="address" />
        </div>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="phone" class="col-sm-2 col-form-label"
          >Contact Information
        </mat-label>
        <input id="phone" type="text" matInput formControlName="phone" />
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="medical" class="col-sm-2 col-form-label"
          >Medical History</mat-label
        >
        <input id="medical" type="text" matInput formControlName="medical" />
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field>
        <mat-label for="familymedical" class="col-sm-2 col-form-label"
          >Family medical history</mat-label
        >
        <input
          id="familymedical"
          type="text"
          matInput
          formControlName="familymedical"
        />
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field>
        <mat-label for="surgeries" class="col-sm-2 col-form-label"
          >Surgeries</mat-label
        >
        <input
          id="surgeries"
          type="text"
          matInput
          formControlName="surgeries"
        />
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field>
        <mat-label for="insurance" class="col-sm-2 col-form-label"
          >Insurance provider</mat-label
        >
        <input
          id="insurance"
          type="text"
          matInput
          formControlName="insurance"
        />
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</section>
